{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="static/login.css">
	<script src="static/login.js"></script>

    <div class="login-box">
		<h2>Login</h2>

		<form method="POST" action="{{ url_for('views.login') }}">
			<div class="login-form-container">
				{% with messages = get_flashed_messages(with_categories=true) %}
  					{% if messages %}
    					{% for category, message in messages %}
    			  			<div class="flash-message {{ category }}">
        						{{ message }}
      						</div>
    					{% endfor %}
					{% endif %}
				{% endwith %}
				<label for="username">Username:</label>
				<input type="text" id="username" name="username">
				<label for="password">Password:</label>
				<input type="password" id="password" name="password">
				<img src="static/images/eye-close.png" class="img-eye" id="eyeicon">
			</div>
			<input type="submit" value="Login">
			<div class="sign-up-btn">Not a member? <a href="/sign-up">Sign up here</a></div>
		</form>
	</div>
{% endblock %}
